body {
	background-color: #252323;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.thalesbutton {
	 -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 10px;
   color: #BEBEBE;
   font-family: Open Sans;
   font-size: 20px;
   font-weight: 100;
   padding: 20px 50px 20px 50px;
   background-color: #252323;
   border: solid #C6CACF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.thalesbutton:active {
  position:relative;
	top:1px;
}
.thalesbutton:hover{
	background: #7E7E80;
   border: solid #000000 1px;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   text-decoration: none;
}
.botao{
width: 100vw;
height: 50%;
background: #252323;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
}
.botao-1{
 margin-right: 50px;
}
.botao-2{
 margin-right: 50px;
}
.botao-3{
 margin-right: 50px;
}
.input-field{
	width: 100%;
	position: relative;
	top: 35%;
	text-align: center;
}
.input-field-1{
	position: relative;
}
.form{
	background-color: #252323;
	padding: 20px;
}
.display-cronometro{
	background-color: #252323;
	position: relative;
	text-align: center;
	top: 30%;
}
.cronometro-1{
	background-color: #252323;
	width: 100%;
	top: 50%;
}
.timer-1{
	font-family: arial;
	font-size: 200px;
	color: #bebebe;
}
.input-01{
     padding: 30px;
     font-size: 40px;
     border-width: 0px;
     border-color: #cccccc;
     background-color: #302d2d;
     color: #bebebe;
     border-style: solid;
     border-radius: 5px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.textbox{
	color: #bebebe;
	position : relative;
}
.textboxint{
	text-align: justify;
	position : relative;
	border: hidden;
	border-radius: 2px;
	
}
.content{
	display: none;
	width: 80%;
	top: 120%;
	left: 5%;
	text-align: center;
	color: #bebebe;
	position: relative;
	font-size: 40px;
}
.preset{
	display: none;
	width: 100%;
	position: relative;
	top: 13%;
}
.preset-1-min{
	position: absolute;
	left: 20%;
	font-size: 30px;
}
.PRESET-1-hour{
	position: absolute;
	top: 100%;
}
.preset_2{
	display: none;
	width: 100%;
	position: relative;
	top: 13%;
	font-size: 30px;
}
.preset-5min{
	position: absolute;
	left: 40%;
}
.preset-10min{
	position: absolute;
	left: 40%;
	top: 30px;
}
.preset-20min{
	position: absolute;
	left: 40%;
	top: 60px;
}
.preset_3{
	display: none;
	width: 100%;
	position: relative;
	top: 13%;
	font-size: 30px;
}
.preset-40min{
	position: absolute;
	left: 60%;
}
.preset-50min{
	position: absolute;
	left: 60%;
	top: 30px;
}
.preset-2horas{
	position: absolute;
	left: 60%;
	top: 60px;
}
.audio{
	color: #bebebe;
}
.alarme{
}